{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "typecheck",
    "syntax-flow",
    "syntax-trailing-function-commas",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-constant-elements"
  ]
}
