body{
  max-width: 100%!important;
}
.App__container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  .App__header {

    flex: 150px 0 0;
    padding: 20px;
    text-align: center;

    color: white;
    background: #4da0b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4da0b0, #d39d38); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4da0b0, #d39d38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .App__logo {
      animation: App__logo--spin infinite 20s linear;
      height: 80px;
    }
  }

  .App__showcase {
    flex: 10% 1 1;
    height: 10%;
  }

}

@keyframes App__logo--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
