{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/prefer-es6-class": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": 1,
    "object-curly-spacing": 0,
    "import/no-extraneous-dependencies": 1,
    "react/self-closing-comp": 1,
    "react/jsx-wrap-multilines": 1,
    "react/sort-comp": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-underscore-dangle": 1,
    "global-require": 0,
    "import/prefer-default-export": 1,
    "new-cap": 1,
    "react/jsx-indent": 0,
    "indent":0,
    "react/jsx-indent-props": 0,
    "comma-dangle": "off",
    "react/forbid-prop-types": [1, {"forbid": []}]
  }
}