$debc: #e4e4e4;
$title: 16px;
$subtitle: 13px;
$smsub: 12px;
$margin: 10px;
$red: #f23030;
$gray: #81838e;
$border: #e1e1e1;
$padding: 10px;
$fontfamily: 'Microsoft Yahei';
//flex box
@mixin flexbox($jc:space-between, $ai:center, $fd:row, $fw:nowrap) {
  display: flex;
  flex: 1;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

// width height
@mixin wh($w:100%, $h:100%) {
  width: $w;
  height: $h;
}

@mixin radius($radius:50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  border: 1px solid #eee;
}

// 背景图片地址和大小
@mixin bg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// clamp
@mixin textoverflow($clamp:1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
  overflow: hidden;
}

//渐变
@mixin gradient($rc, $lc) {
  background-image: -webkit-gradient(linear, left bottom, left top, from($rc), to($lc));
  background-image: -webkit-linear-gradient(bottom, $rc, $lc);
  background-image: -o-linear-gradient(bottom, $rc, $lc);
  background-image: linear-gradient(0deg, $rc, $lc);
  background-image: -webkit-linear-gradient(0deg, $rc, $lc);
}

@mixin placeholderColor($color) {
   ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $color;
  }
   :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
   ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
  }
   :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
  }
}
