.thankyou {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family: 'Libre Baskerville';
  color: #222;
  font-size: 14px;
  line-height: 1.6;
  z-index: 100;
}

.thankyou a, .thankyou a:visited, .thankyou a:link, .thankyou .underline {
  text-decoration: none;
  border-bottom: 1px solid;
  pointer-events: auto;
  color: inherit;
  cursor: pointer;
}

.thankyou a:hover, .thankyou .underline:hover {
  border-bottom: 1px dashed;
}

footer {
    background: #efefef;
    margin-top: 2em;
    font-family: Helvetica,Arial,sans-serif;
}

.share {
    padding: 1em;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid #ccc
}

.share .preach {
    display: inline-block;
    padding: 0;
    margin-right: .5em
}

.share .preach span {
    font-weight: 700
}

.share .share__icons {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    zoom:1}

.share .share__icons .share__icon {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-right: .5em;
    display: inline-block
}

.recirc {
    padding: 1em
}

.recirc__hed {
    text-align: center;
    color: #00a27c;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .05em
}

.recirc__articles {
    margin: 0 auto;
    max-width: 50em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center
}

.recirc__article {
    margin: 1em 0;
    /*padding: 1em;*/
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    width: 100%
}

.recirc__article p {
    padding: 0;
    margin: 0
}

.recirc .article__headline {
    max-width: 30em;
    margin: 0 auto
}

.recirc .article__date {
    font-weight: 700;
    text-transform: uppercase
}

.recirc .exclude {
    fill: #efefef
}

.newsletter {
    padding: 2em 1em
}

.newsletter__wrapper {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: .8em
}

.newsletter__header {
    padding: 0;
    margin: 0;
    margin-right: 1em;
    font-weight: 400;
    letter-spacing: .05em
}

.newsletter__footer {
    display: -ms-flexbox;
    display: flex
}

.newsletter__footer input {
    font-size: 1em;
    padding: .2em;
    line-height: 1;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: #2a2a2a
}

.newsletter__footer input::-webkit-input-placeholder {
    color: #666
}

.newsletter__footer input::-moz-placeholder {
    color: #666
}

.newsletter__footer input:-ms-input-placeholder {
    color: #666
}

.newsletter__footer input::placeholder {
    color: #666
}

.newsletter__button {
    border: none;
    outline: 0;
    text-transform: uppercase;
    background-color: #00a27c;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    margin-left: 1em;
    padding: .45em;
    transition: background-color 250ms
}

.newsletter__button:hover {
    background-color: #00d5a3
}

.company {
    padding: 1em;
    background: #fff;
    color: #000;
    display: -ms-flexbox;
    display: flex
}

.company a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #00a27c
}

.company p,.company ul {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin: 0;
}

.company__wrapper {
    max-width: 60rem;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    zoom:1}

.company__left {
    max-width: 25em;
    padding: 0 1em
}

.company__description {
    max-width: 25em;
    padding: 1em 0
}

.company__right {
    max-width: 25em;
    padding: 0 1em;
    text-align: left
}

.company svg {
    fill: #000
}

.company ul {
    max-width: 40rem;
    margin: 1em auto;
    display: inline-block;
    overflow: hidden;
    zoom:1;
    list-style-type: none;
}

.company ul li {
    margin-right: 1.5em;
    float: left
}

.company ul li a {
    text-decoration: none;
    border-bottom: none;
    font-weight: 700
}

@media only screen and (min-width: 40em) {
  .recirc__article {
    margin: 2em 0;
    width: 50%;
  }
}
@media only screen and (min-width: 50em) {
  .company__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .company__right {
    text-align: center;
  }
}
