header a.logo {
  display: block;
  border: none;
  max-width: 9rem;
  margin: 1rem auto;
}

header a.logo svg {
    fill: #2a2a2a;
    display: block;
    width: 100%;
}

body {
  margin: 0;
}

#root {
  font-family: 'Libre Baskerville', serif;
  color: #222;
  font-size: 14px;
}

#root h1, #root h2, #root h3, #root h4, #root .header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#root a, #root a:visited, #root a:link, #root .underline {
  text-decoration: none;
  border-bottom: 1px solid;
  pointer-events: auto;
  color: inherit;
  cursor: pointer;
}

#root a:hover, #root .underline:hover {
  border-bottom: 1px dashed;
}

#root svg {
  pointer-events: auto;
}

#root text {
  fill: #666;
}

#root .music {
  padding: 3px 0;
  font-weight: 400;
  line-height: 1.8;
  cursor: pointer;
  pointer-events: auto;
}

#root .background {
  background: rgba(255, 255, 255, 1);
  padding: 2px 10px;
  line-height: 1.8;
  pointer-events: auto;
}
