.WayOfLife__container{
  height: 100%;
  width: 80%;
  margin-left: 10%;
  position: relative;
}
::-moz-selection {
  background: #fff !important;
  color: #444 !important;
}

::selection {
  background: rgba(255, 255, 255, 0) !important;
  color: #444 !important;
}

#universe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 200px;
  z-index: 99;
  cursor: crosshair;
}

.controls {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  z-index: 100;

  button {
    margin: 0.5rem 1rem;
  }
}

#fps-info {
  min-width: 10rem;
  position: absolute;
  top: 26px;
  left: 0;
  right: 80px;
  text-align: right;
}

small {
  font-size: 0.9rem;
}